{% extends 'base.html' %}

{% block body %}

<h1>{{ dep.name }} department </h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Employee
    </button>

    <!-- Modal to add employee in the particular department-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <!-- form to add employees -->
              <form action="/employees" method="post">
                  <!-- full name -->
                    <div class="form-group">
                        <label for="">Full name</label>
                        <input name="full_name" type="text" class="form-control" id="" aria-describedby="">
                    </div>

                  <!-- gender -->
                    <div class="form-group">
                        <label for="">Gender</label>
                        <select name="gender" class="form-control" id="">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>

                   <div class="form-group">
                    <label for="">Email address</label>
                    <input name = "email" type="email" class="form-control" id="" placeholder="name@example.com">
                  </div>

                  <div class="form-group">
                    <label for="">Phone number</label>
                    <input name="phone" type="number" class="form-control" id="" placeholder="">
                  </div>

              <div class="form-group">
                  <input name="department" class="form-control" type="hidden" value="{{ dep.id }}">
{#                    <label for="">Department</label>#}
{#                    <select name="department" type="text" class="form-control" id="" aria-describedby="" >#}
{#                            <option value="0" selected>Choose a department</option>#}
{#                        {% for every in dpts %}#}
{#                            <option value="{{ every.id }}">{{ every.name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
              </div>

                  <div class="form-group">
                    <label for="">ID number</label>
                    <input name="id_number" type="number" class="form-control" id="" placeholder="" required>
                  </div>

                  <div class="form-group">
                    <label for="">KRA Pin</label>
                    <input name="kra_pin" type="text" class="form-control" id="" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="">Basic salary</label>
                    <input name="basic_salary" type="number" class="form-control" id="" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="">Benefits</label>
                    <input name="benefits" type="number" class="form-control" id="" placeholder="">
                  </div>

                <button type="submit" class="btn btn-primary">Submit</button>

              </form>
                <!-- form ends here -->
          </div>
        </div>
      </div>
    </div>

    <!-- modal ends here -->

    <!--table to display all the employees-->
  <table class="table">
      <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">ID Number</th>
            <th scope="col">KRA Pin</th>
            <th scope="col">Salary</th>
            <th scope="col">Benefits</th>
        </tr>
      </thead>
      <tbody>

      {% for each in wafanyikazi %}
        <tr>
            <th scope="row">{{ each.id }}</th>
            <td>{{ each.fullName }}</td>
            <td>{{ each.gender }}</td>
            <td>{{ each.email }}</td>
            <td>{{ each.phoneNumber }}</td>
            <td>{{ each.idNumber }}</td>
            <td>{{ each.kraPin }}</td>
            <td>{{ each.basicSalary }}</td>
            <td>{{ each.benefits }}</td>
        </tr>

      {% endfor %}

      </tbody>
  </table>



{% endblock %}